.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.form > p {
  margin: 0;
}

.controls {
  display: flex;
  flex: none;
  gap: var(--space-12);
  align-items: center;
}

.port-input {
  width: 112px;
}

@media (max-width: 480px) {
  .port-input {
    width: 88px;
  }
}
